/AsOne/bin/Debug/AsOne.exe
/AsOne/bin/Debug/AsOne.pdb
/AsOne/bin/Debug/AsOne.vshost.exe
/AsOne/bin/Debug/AsOne.vshost.exe.manifest
/AsOne/bin/Debug/pre01.csv
/AsOne/bin/Debug/tenki.txt
/AsOne/obj/x86/Debug/AsOne.csproj.FileListAbsolute.txt
/AsOne/obj/x86/Debug/AsOne.exe
/AsOne/obj/x86/Debug/AsOne.pdb
/AsOne/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/AsOne/Properties/AssemblyInfo.cs
/AsOne.suo
/AsOne/obj/x86/Debug/AsOne.csprojResolveAssemblyReference.cache
